@import '../../assets/css/variables';

.container {
  overflow: auto;
  padding: 0 $default-padding;
  flex-basis: 100%;
  box-sizing: border-box;

  & .grid {
    display: flex;
    margin: 0 calc(#{$item-padding} / -2);
    flex-wrap: wrap;
    min-height: 50vh;

    & .item {
      padding: 0 calc(#{$item-padding} / 2) 24px calc(#{$item-padding} / 2);
      flex: 1 1 33%;
      box-sizing: border-box;
    }
  }

  @media screen and (max-width: 500px) {
    padding: 0 $default-padding-small;
  }
}