@import '../../assets/css/variables';

.container {
  overflow: auto;
  padding: 0 $default-padding;
  flex-basis: 100%;
  box-sizing: border-box;

  & .grid {
    display: flex;
    margin: 0 -14px;
    flex-wrap: wrap;
    min-height: 50vh;

    & .item {
      padding: 0 14px 24px 14px;
      flex: 1 1 33%;
      box-sizing: border-box;
    }
  }

  @media screen and (max-width: 500px) {
    padding: 0 $default-padding-small;
  }
}