$primary-background: #0a0a0a;
$red: #e01e00;
$font-mono: "IBM Plex Mono", monospace;
$font-serif: "IBM Plex Serif", serif;
$font-sans: "IBM Plex Sans", sans-serif;
$default-font-size: 16px;
$default-padding: 40px;
$default-padding-small: 20px;
